<<div class="articles" id="articles">
  <h2 class="main-title">About Us</h2>
  <div style="display: flex" >
    <div class="container">
      <div class="box">
        <div class="content">
          <h3>Who are we ?</h3>
          <p>
            We provides a platform for artists and users to create and experience unique works of art made from recycled materials. Our mission is to reduce waste and inspire people to see the beauty and value of reusing everyday objects. Join us on our journey to a more sustainable future.
          </p>
        </div>
        <div class="info">
          <a routerLink="/signup">Join now</a>
          <i class="fas fa-long-arrow-alt-right"></i>
        </div>
      </div>
    </div>
    <img style="width: 250px;margin-right: 180px" src="/assets/imgs/chair.png">
  </div>
</div>
