<div class="first_img">

  <div data-aos="fade-up-right" data-aos-duration="2000" class="image-comparison-slider" id="image-comparison-slider">
    <img  src="/assets/imgs/slide/bois.jpg">
    <div class="img-wrapper">
      <img src="/assets/imgs/slide/gazel.jpg" alt="after">
    </div>
    <span class="label label-before">Before</span>
    <span class="label label-after">After</span>
    <div class="handle">
      <div class="handle-line"></div>
      <div class="handle-circle">
        <i class="fas fa-chevron-left"></i>
        <i class="fas fa-chevron-right"></i>
      </div>
      <div class="handle-line"></div>
    </div>
  </div>
  <p class="description" id="gazelDescription"></p>

</div>

<br><br><br>

<div class="second_img">
  <p id="tortueDescription" class="description" style="margin-top: 30px;margin-left:6%;height: 260px">
  </p>
  <br>
<div data-aos="fade-up-left" data-aos-duration="2000" class="image-comparison-slider" id="image-comparison-slider2">
    <img src="/assets/imgs/slide/bouchons.webp">
    <div class="img-wrapper">
      <img src="/assets/imgs/slide/tortue.jpg" alt="after">
    </div>
    <span class="label label-before">Before</span>
    <span class="label label-after">After</span>
    <div class="handle">
      <div class="handle-line"></div>
      <div class="handle-circle">
        <i class="fas fa-chevron-left"></i>
        <i class="fas fa-chevron-right"></i>
      </div>
      <div class="handle-line"></div>
    </div>
  </div>

</div>

<script src="src/assets/js/slide.js"></script>
