


<div class="container">
  <div class="profile-page tx-13">
    <div class="row">
      <div class="col-12 grid-margin">
        <div class="profile-header">
          <div class="cover">
            <div class="gray-shade"></div>
            <figure>
              <img style="height: 25rem" [src]="currentArtist.backProfileImg" class="img-fluid" alt="profile cover">
            </figure>
            <div class="cover-body d-flex justify-content-between align-items-center">
              <div style="display: flex">
                <img class="profile-pic" [src]="currentArtist.profileImg" alt="profile">
                <div class="rating">
                  <span class="profile-name">{{currentArtist.name}} {{currentArtist.lastName}}
                    <i class="fa-solid fa-check-circle" style="color: #3ba6f7;"></i>
                  </span>
                  <div class="stars">
                    <i *ngFor="let _ of [1, 2, 3, 4, 5]; let i=index;" class="fa fa-star"
                       [ngStyle]="{ 'color': i < currentArtist.ratingStars ? 'gold' : '#80808085' }"
                       ></i>
                  </div>
                </div>
              </div>

              <div class="d-none d-md-block">
                <button class="btn btn-primary btn-icon-text btn-edit-profile" data-toggle="modal" data-target="#editModal">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit btn-icon-prepend">
                    <path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path>
                    <path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path>
                  </svg> Edit profile
                </button>
              </div>



            </div>
          </div>
          <div class="header-links">
            <ul class="links d-flex align-items-center mt-3 mt-md-0">
              <li style="cursor: pointer" id="timeLine" class="header-link-item d-flex align-items-center active">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-columns mr-1 icon-md">
                  <path d="M12 3h7a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2h-7m0-18H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h7m0-18v18"></path>
                </svg>
                <a (click)="displayTimeLine()" class="pt-1px d-none d-md-block">Timeline</a>
              </li>
              <li style="cursor: pointer" id="following" class="header-link-item ml-3 pl-3 border-left d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users mr-1 icon-md">
                  <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                  <circle cx="9" cy="7" r="4"></circle>
                  <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                  <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                </svg>
                <a (click)="displayFollowing()" class="pt-1px d-none d-md-block">Following <span class="text-muted tx-12">{{nbrFollowing}}</span></a>
              </li>
              <li style="cursor: pointer" id="followers" class="header-link-item ml-3 pl-3 border-left d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users mr-1 icon-md">
                  <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                  <circle cx="9" cy="7" r="4"></circle>
                  <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                  <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                </svg>
                <a (click)="displayAllFollower()" class="pt-1px d-none d-md-block">Followers <span class="text-muted tx-12">{{nbrFollower}}</span></a>
              </li>
              <li style="cursor: pointer" id="gallery"class="header-link-item ml-3 pl-3 border-left d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-image mr-1 icon-md">
                  <rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect>
                  <circle cx="8.5" cy="8.5" r="1.5"></circle>
                  <polyline points="21 15 16 10 5 21"></polyline>
                </svg>
                <a (click)="showGallery()" class="pt-1px d-none d-md-block">Gallery</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row profile-body">
      <!-- left wrapper start -->
      <div *ngIf="!displayGallery" class="d-none d-md-block col-md-4 col-xl-3 left-wrapper">
        <div class="card rounded">
          <div class="card-body">
            <div class="d-flex align-items-center justify-content-between mb-2">
              <h5 class="card-title mb-0">About
                <i *ngIf="getElementDisplay('about') === 'none'" class="fa fa-plus-square edit-bio" aria-hidden="true" (click)="show('about')"></i>
                <i *ngIf="getElementDisplay('about') !== 'none'" class="fa fa-minus-square minus" aria-hidden="true" (click)="hide('about')"></i>
              </h5>

              <div class="dropdown">
                <button class="btn p-0" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal icon-lg text-muted pb-3px">
                    <circle cx="12" cy="12" r="1"></circle>
                    <circle cx="19" cy="12" r="1"></circle>
                    <circle cx="5" cy="12" r="1"></circle>
                  </svg>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item d-flex align-items-center" href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-2 icon-sm mr-2">
                      <path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path>
                    </svg> <span class="">Edit</span></a>
                  <a class="dropdown-item d-flex align-items-center" href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-git-branch icon-sm mr-2">
                      <line x1="6" y1="3" x2="6" y2="15"></line>
                      <circle cx="18" cy="6" r="3"></circle>
                      <circle cx="6" cy="18" r="3"></circle>
                      <path d="M18 9a9 9 0 0 1-9 9"></path>
                    </svg> <span class="">Update</span></a>
                  <a class="dropdown-item d-flex align-items-center" href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye icon-sm mr-2">
                      <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                      <circle cx="12" cy="12" r="3"></circle>
                    </svg> <span class="">View all</span></a>
                </div>
              </div>
            </div>
            <p *ngIf="getElementDisplay('about') === 'none'">{{about}}</p>
            <div class="input-group" id="about" style="display: none">
              <span>
              <textarea required class="form-control" style="margin-bottom: 4px;" aria-label="With textarea" [(ngModel)]="about"></textarea>
              <i class="fa fa-check-square check" aria-hidden="true" (click)="saveAbout()"></i>
                <i class="fa fa-times-circle cancel" aria-hidden="true" (click)="clear('about')"></i>
              </span>
            </div>
            <div class="mt-3">
              <label class="tx-11 font-weight-bold mb-0 text-uppercase">Joined:</label>
              <p class="text-muted">{{currentArtist.joined}}</p>
            </div>


            <div class="mt-3">
              <label class="tx-11 font-weight-bold mb-0 text-uppercase">Lives:
                <i *ngIf="getElementDisplay('lives') === 'none'" class="fa fa-plus-square edit-bio" aria-hidden="true" (click)="show('lives')"></i>
                <i *ngIf="getElementDisplay('lives') !== 'none'" class="fa fa-minus-square minus" aria-hidden="true" (click)="hide('lives')"></i>
              </label>
              <p *ngIf="getElementDisplay('lives') === 'none'" class="text-muted">{{lives}}</p>

              <div class="input-group mb-3" id="lives" style="display: none">
                <span>
                <input type="text" class="form-control" style="margin-bottom: 4px;" aria-label="Default" aria-describedby="inputGroup-sizing-default" [(ngModel)]="lives">
                <i class="fa fa-check-square check" aria-hidden="true" (click)="saveLives()"></i>
                <i class="fa fa-times-circle cancel" aria-hidden="true" (click)="clear('lives')"></i>
                  </span>
              </div>
            </div>



            <div class="mt-3">
              <label class="tx-11 font-weight-bold mb-0 text-uppercase">Phone:
                <i *ngIf="getElementDisplay('telephone') === 'none'" class="fa fa-plus-square edit-bio" aria-hidden="true" (click)="show('telephone')"></i>
                <i *ngIf="getElementDisplay('telephone') !== 'none'" class="fa fa-minus-square minus" aria-hidden="true" (click)="hide('telephone')"></i>
              </label>
              <p *ngIf="getElementDisplay('telephone') === 'none'" class="text-muted">{{telephone}}</p>

              <div class="input-group mb-3" id="telephone" style="display: none">
                <span>
                <input type="text" class="form-control" style="margin-bottom: 4px;" aria-label="Default" aria-describedby="inputGroup-sizing-default" [(ngModel)]="telephone">
                <i class="fa fa-check-square check" aria-hidden="true" (click)="savephone()"></i>
                <i class="fa fa-times-circle cancel" aria-hidden="true" (click)="clear('telephone')"></i>
                  </span>
              </div>
            </div>




            <div class="mt-3">
              <label class="tx-11 font-weight-bold mb-0 text-uppercase">Website:
                <i *ngIf="getElementDisplay('website') === 'none'" class="fa fa-plus-square edit-bio" aria-hidden="true" (click)="show('website')"></i>
                <i *ngIf="getElementDisplay('website') !== 'none'" class="fa fa-minus-square minus" aria-hidden="true" (click)="hide('website')"></i>
              </label>
              <br>
              <a [href]="website" target="_blank" *ngIf="getElementDisplay('website') === 'none'">{{website}}</a>
              <div class="input-group mb-3" id="website" style="display: none">
                <span>
                <input type="text" class="form-control" style="margin-bottom: 4px;" aria-label="Default" aria-describedby="inputGroup-sizing-default" [(ngModel)]="website">
                <i class="fa fa-check-square check" aria-hidden="true" (click)="saveWebsite()"></i>
                <i class="fa fa-times-circle cancel" aria-hidden="true" (click)="clear('website')"></i>
                  </span>
              </div>


            </div>
            <div class="mt-3 d-flex social-links">
              <a href="javascript:;" class="btn d-flex align-items-center justify-content-center border mr-2 btn-icon github">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github" data-toggle="tooltip" title="" data-original-title="github.com/nobleui">
                  <path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path>
                </svg>
              </a>
              <a href="javascript:;" class="btn d-flex align-items-center justify-content-center border mr-2 btn-icon twitter">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-twitter" data-toggle="tooltip" title="" data-original-title="twitter.com/nobleui">
                  <path d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"></path>
                </svg>
              </a>
              <a href="javascript:;" class="btn d-flex align-items-center justify-content-center border mr-2 btn-icon instagram">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-instagram" data-toggle="tooltip" title="" data-original-title="instagram.com/nobleui">
                  <rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
                  <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
                  <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- left wrapper end -->
      <!-- middle wrapper start -->
      <div class="col-md-8 col-xl-6 middle-wrapper">
        <div class="row">

          <!-- start create post-->

          <div *ngIf="display" class="bg-white p-3 mt-3 rounded border shadow" style="width: 100%;margin-bottom: 3%"
               data-toggle="modal" data-target="#exampleModal">
            <!-- avatar -->
            <div class="d-flex" type="button">
              <div class="p-1">
                <img
                  src="https://source.unsplash.com/collection/happy-people"
                  alt="avatar"
                  class="rounded-circle me-2"
                  style="width: 38px; height: 38px; object-fit: cover"
                />
              </div>
              <input
                type="text"
                class="form-control rounded-pill border-0 bg-gray pointer"
                disabled
                placeholder="What's on your mind, John?"
                data-bs-toggle="modal"
                data-bs-target="#createModal"
              />
            </div>
          </div>

          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content" style="top: 6rem">
                <div class="indicator"></div>
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel"></h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="media mb-3">
                    <img src="https://s3.amazonaws.com/creativetim_bucket/new_logo.png" class="mr-3 images" alt="...">
                    <div class="media-body">
                      <textarea class="autosize" [(ngModel)]="textArea" rows="1" id="note" data-emoji="true" required maxlength="150"></textarea>
                      <div class="position-relative">
                        <input type="file" class="d-none" accept="audio/*|video/*|video/x-m4v|video/webm|video/x-ms-wmv|video/x-msvideo|video/3gpp|video/flv|video/x-flv|video/mp4|video/quicktime|video/mpeg|video/ogv|.ts|.mkv|image/*|image/heic|image/heif" onchange="previewFiles()" id="inputUp" multiple>
                        <a class="mediaUp mr-4"><i
                          id="upload-button" class="material-icons mr-2"
                          data-tippy="add (Video, Audio, Photo)"
                          onclick="document.getElementById('pictureUpload').click()"
                        >perm_media</i>

                        </a>
                        <input type="file" multiple (change)="onFileSelected($event)" id="pictureUpload" style="display: none;" >


                      </div>

                      <!--strat emoji-->

                      <button id="emoji-button" (click)="isEmojiPickerVisible = !isEmojiPickerVisible;">😀</button>
                      <br>
                      <emoji-mart class="emoji-mart" *ngIf="isEmojiPickerVisible" (emojiSelect)="addEmoji($event)" title="Choose your emoji"></emoji-mart>
                      <br>
                      <!--end emoji-->

                      <div class="container">
                        <div class="row">
                          <div class="col-md-4" *ngFor="let file of imagesUploads; let i = index;">
                            <div class="card mb-4 box-shadow">
                              <img class="card-img-top" id="uploaded" [src]="file.url" alt="Image">
                              <i (click)="removeImages(i)" id="trash-icon" class="fa-solid fa-trash-can"></i>
                            </div>
                          </div>
                        </div>
                      </div>



                    </div>
                  </div>
                </div>
                <div class="row col-md-12 ml-auto mr-auto preview"></div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                  <button id="publier" (click)="addPublication()" class="btn btn-info btn-sm" data-dismiss="modal">Save changes</button>
                </div>
              </div>
            </div>
          </div>



          <!--end create post-->

          <app-artist-post style="width: 35.6rem" *ngIf="postsByOwner.length > 0 && display" [postsByOwner]="postsByOwner" [currentArtist]="currentArtist"></app-artist-post>


          <div *ngIf="!display && !displayFollower && !displayGallery" class="col-md-12">
            <app-following-artist (nbrFollowingArtist)="handleVariableFollowing($event)"></app-following-artist>
          </div>

          <div *ngIf="!display && displayFollower && !displayGallery" class="col-md-12">
            <app-follower-artist (nbrFollowerArtist)="handleVariableFollower($event)"></app-follower-artist>
          </div>

        </div>
      </div>

      <div *ngIf="!display && !displayFollower && displayGallery">
        <app-galery [postsByOwner]="postsByOwner"></app-galery>
      </div>


      <!-- middle wrapper end -->
      <!-- right wrapper start -->
      <div *ngIf="display" class="d-none d-xl-block col-xl-3 right-wrapper">
        <div class="row">
          <div class="col-md-12 grid-margin">
            <div class="card rounded">
              <div class="card-body">
                <h6 class="card-title">latest photos</h6>
                <div class="latest-photos">
                  <div class="row">
                    <div class="col-md-4"  *ngFor="let img of latestImg">
                      <figure>
                        <img class="img-fluid" [src]="img" alt="">
                      </figure>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
      <!-- right wrapper end -->
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="margin-top: 15%;">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Edit your profile and save changes</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form (ngSubmit)="onSubmit(f)" #f="ngForm">

          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control"
            [(ngModel)]="currentArtist.name"
            id="name"
            name="name"
            placeholder="Enter name">
          </div>

          <div class="form-group">
            <label for="lastName">lastName</label>
            <input type="text" class="form-control"
                   id="lastName"
                   name="lastName"
                   placeholder="Enter lastName"
                   [(ngModel)]="currentArtist.lastName">
          </div>

          <div class="form-group">
            <label for="profileImg">profile Img</label>
            <input type="text" class="form-control"
                   id="profileImg"
                   name="profileImg"
                   placeholder="Enter Img url"
                   [(ngModel)]="currentArtist.profileImg">
          </div>

          <div class="form-group">
            <label for="backProfileImg">backProfileImg</label>
            <input type="text" class="form-control"
                   id="backProfileImg"
                   name="backProfileImg"
                   placeholder="Enter Img url"
                   [(ngModel)]="currentArtist.backProfileImg">
          </div>

          <div class="form-group">
            <label for="lastName">phone</label>
            <input type="text" class="form-control"
                   id="phone"
                   name="phone"
                   placeholder="Enter ur phone number"
                   [(ngModel)]="currentArtist.telephone">
          </div>

          <div class="form-group">
            <label for="speciality">speciality</label>
            <input type="text" class="form-control"
                   id="speciality"
                   name="speciality"
                   placeholder="Enter speciality"
                   [(ngModel)]="currentArtist.specialite">
          </div>

          <div class="form-group">
            <label for="description">description</label>
            <textarea type="text" class="form-control"
                      id="description"
                      name="description"
                      placeholder="enter ur description"
                      [(ngModel)]="currentArtist.description">
            </textarea>
          </div>

          <div class="modal-footer">
            <button type="button" id="closeModal" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" (click)="closeModal()">Save changes</button>
          </div>
        </form>

      </div>

    </div>
  </div>
</div>
</div>
