<div class="home-container">
  <div class="home-mac-book-air1">

    <img
      alt="Ellipse116"
      src="/assets/playground_assets/ellipse116-b8gq.svg"
      class="home-ellipse1"
    />
    <div class="product-img">
      <img src="assets/product/art1.png" style="
      position: absolute;
    top: 300px;
    right: 80px;
    width: 200px;
    height: 200px;">

      <img src="assets/product/art2.png" style="
      position: absolute;
    top: 300px;
    right: 80px;
    width: 200px;
    height: 200px;">

      <img src="assets/product/art3.png" style="
      position: absolute;
    top: 300px;
    right: 80px;
    width: 200px;
    height: 200px;">

      <img src="assets/product/art4.png" style="
      position: absolute;
    top: 300px;
    right: 80px;
    width: 200px;
    height: 200px;">
    </div>

    <h2 id="title">Best articles</h2>
    <img
      alt="Ellipse619"
      src="/assets/playground_assets/ellipse619-e3wn-300h.png"
      class="home-ellipse6"
    />

    <img
      alt="Ellipse4110"
      src="/assets/playground_assets/ellipse4110-c2hg-200h.png"
      class="home-ellipse4"
    />
    <img
      alt="Ellipse5111"
      src="/assets/playground_assets/ellipse5111-zvf-200h.png"
      class="home-ellipse5"
    />

    <div style="margin-left: 100px; margin-top: 70px">
      <h3>Artist of the month: chris
        <i class="fa-sharp fa-solid fa-trophy" style="color: #ffd500;"></i>
      </h3>
      <img style="width: 550px"
        alt="Ellipse5111"
        src="/assets/playground_assets/christian-buehner-DItYlc26zVI-unsplash-removebg-preview.png"
      />
      <br>
      <br>

      <div class="articles" data-aos="fade-up" data-aos-duration="3000">
          <div class="container">
            <div class="box">
              <div class="content">

                <p>
                  his art is not only visually arresting, but it also tells a story, evokes emotions, and leaves a lasting impression on all who view it. This is a collection of his best works:
                </p>
              </div>
            </div>
          </div>
      </div>


    </div>

  </div>
</div>

