<meta name="viewport" content="width=device-width, initial-scale=1.0">
<section class="section-bar">
    <div class="slider">
        <div class="slide">
            <input (click)="slideTo(1)" type="radio" name="radio-btn" id="radio1" #radio1>
            <input (click)="slideTo(2)" type="radio" name="radio-btn" id="radio2" #radio2>
            <input (click)="slideTo(3)" type="radio" name="radio-btn" id="radio3" #radio3>
            <div class="st first" style="background:#f2eff1 ">
                <div class="content" id="content1" style="background:#f2eff1 ;border: solid #f2eff1 3px; border-radius: 5px;width: 60%;" >
                    <h2 class="bienvenue">Welcome to UpcyclingArt</h2>
                    <p id="ph">Here, things are given another life to live. Join us in our mission to promote sustainability and creativity through the art of upcycling.</p>
                    <br>
                  <button
                    style=" margin-left: 30%;
                    margin-top: 15px;
                     font-size: 1.3em;"
                    routerLink="/signup" class="btn btn-dark"> Connexion </button>
                </div>
                <img id="tree" src="/assets/imgs/bonsai-removebg-preview.png" ></div>

            <div class="st">
                <div class="content">
                    <h1 >Treasures hidden in your trash</h1>
                    <button routerLink="/signupartist" class="btn btn-light button-benefits">Join us</button>
                </div>
            </div>

            <div id="st" class="st" style="background: #e2caaea1;">
                <div class="image">
                    <img id="recycle" src="/assets/imgs/2502606-removebg-preview.png">
                </div>
                <div class=" content">
                    <h1 id="title3">Turn your trash into treasure</h1>
                    <button routerLink="/signupartist" class="btn btn-light button-benefits-user">Become an artist</button>

                </div>

            </div>

            <div class="nav-auto">
                <div class="a-b1"></div>
                <div class="a-b2"></div>
                <div class="a-b3"></div>
            </div>

        </div>
        <div class="nav-m">
            <label for="radio1" class="m-btn"></label>
            <label for="radio2" class="m-btn"></label>
            <label for="radio3" class="m-btn"></label>
        </div>
        <button  class="slider-btn next"><i (click)="nextSlide()" class="fa-solid fa-angle-right" style="color: #2cb52e; font-size: 32px"></i></button>
        <button  class="slider-btn prev"><i (click)="prevSlide()" class="fa-solid fa-angle-right fa-rotate-180" style="color: #2cb52e; font-size: 32px"></i></button>
    </div>
</section>

