<app-slider-bar2></app-slider-bar2>
<!-- End Landing-->
<!-- Start Articles -->
<div class="articles" id="articles">
  <h2 class="main-title" style="margin-top: 0">Some of our best art</h2>
  <!--Start before after images-->
  <br>
  <app-before-after></app-before-after>
  <br>
  <br>
  <br>
  <br>

  <!--End before after images-->
</div>
<div class="spikes"></div>
<!-- End Articles -->
<!-- Start Gallery -->
<div class="gallery" id="gallery">
  <h2 style="
  text-transform: uppercase;
    margin: 0 auto 80px;
    padding: 10px 20px;
    font-size: 30px;
    width: fit-content;
    position: relative;
    z-index: 1;
    ">Give a second life to your waste</h2>
  <h2 style="margin-bottom: 0" class="main-title" >Our hidden treasures</h2>
  <br>
  <br>
  <app-slide-bar3></app-slide-bar3>
  <br>
  <h2 style="margin-bottom: 0" class="main-title" >get inspired</h2>
  <br>
  <br>
  <app-slide-bar></app-slide-bar>
  <br>

</div>
<!-- End Gallery -->

<!-- Start Testimonials -->
<div class="testimonials" id="testimonials">
  <h2 class="main-title">Our Artists</h2>
  <div class="container" id="testimonial-container">
    <div class="box"  data-aos="flip-left" data-aos-duration="3000">
      <img src="/assets/imgs/avatar-01.png" alt="" />
      <h3>Mohamed Farag</h3>
      <span class="title">Artist</span>
      <div class="rate">
        <i class="filled fas fa-star"></i>
        <i class="filled fas fa-star"></i>
        <i class="filled fas fa-star"></i>
        <i class="filled fas fa-star"></i>
        <i class="far fa-star"></i>
      </div>
      <p>
        I am a contemporary painter who creates vibrant, abstract compositions using bold colors and gestural brushstrokes.
      </p>
    </div>
    <div class="box" data-aos="flip-left" data-aos-duration="3000">
      <img src="/assets/imgs/avatar-02.png" alt="" />
      <h3>Mohamed Ibrahim</h3>
      <span class="title">Artiste</span>
      <div class="rate">
        <i class="filled fas fa-star"></i>
        <i class="filled fas fa-star"></i>
        <i class="filled fas fa-star"></i>
        <i class="filled fas fa-star"></i>
        <i class="far fa-star"></i>
      </div>
      <p>
        I am a sculptor who mainly works in bronze. His pieces are often inspired by nature and feature intricate details and textures.
      </p>
    </div>
    <div class="box" data-aos="flip-left" data-aos-duration="3000">
      <img src="/assets/imgs/avatar-03.png" alt="" />
      <h3>Shady Nabil</h3>
      <span class="title">Artist</span>
      <div class="rate">
        <i class="filled fas fa-star"></i>
        <i class="filled fas fa-star"></i>
        <i class="filled fas fa-star"></i>
        <i class="filled fas fa-star"></i>
        <i class="far fa-star"></i>
      </div>
      <p>
        I'm mixed media artist who combines painting and drawing in his work. His pieces are playful and whimsical, featuring elements of nature and everyday life.
      </p>
    </div>

  </div>
</div>
<!-- End Testimonials -->
<app-carousel id="carousel"></app-carousel>
<!--End winning artist-home-->
<!-- Start Services -->
<div class="services" id="services">
  <h2 class="main-title">Our services</h2>
  <div class="container" id="services-container">
    <div class="box">
      <!--fas fa-user-shield fa-4x-->
      <i class="fas fa-user-shield fa-4x"></i>
      <h3>security</h3>
      <div class="info">

        <a style="cursor:pointer;" data-toggle="modal" data-target="#exampleModalCenter">
          details
        </a>
        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Security service</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body" style="margin-right: 60px;">
                We use state-of-the-art technologies to guarantee the confidentiality of our users' data and we are committed to protecting their privacy at all times.
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>



      </div>
    </div>
    <div class="box">
      <i class="fas fa-tools fa-4x"></i>
      <h3>Problem resolution</h3>
      <div class="info">


        <a style="cursor:pointer;" data-toggle="modal" data-target="#exampleModalCenter1">
          details
        </a>
        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle1">Résolution des problèmes</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body" style="margin-right: 62px;">
                Notre plateforme est conçue pour aider nos utilisateurs à résoudre facilement et efficacement tous les problèmes qu'ils pourraient rencontrer. Notre équipe dévouée est là pour répondre à toutes vos questions et préoccupations
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="box">
      <i class="fas fa-bullhorn fa-4x"></i>
      <h3>Marketing</h3>
      <div class="info">

        <a style="cursor:pointer;" data-toggle="modal" data-target="#exampleModalCenter2">
          details
        </a>
        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle2">Marketing</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body" style="margin-right: 31px">
                a marketing service for local artists and artisans. We highlight their unique creations by presenting them to a wider audience, which allows creators to gain visibility and develop their clientele.
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- End Services -->

<!-- Start Work Steps -->
<div class="work-steps" id="work-steps">
  <h2 class="main-title">How it works ?</h2>
  <div class="container">
    <img data-aos="zoom-in-up" data-aos-duration="2000" src="/assets/imgs/man-workshop-upcycling-working-fire-surround_625516-1346.avif" alt="" class="image" />
    <br>
    <br>
    <div class="info" id="info-container">
      <div  data-aos="fade-right" data-aos-duration="2000" class="box">
        <img src="/assets/imgs/work-steps-1.png" alt="" />
        <div class="text">
          <h3>If you are an artist</h3>
          <p>
            you can browse the lists and select the materials you are interested in, and use them to create recycled artwork. Showcase your work in our online gallery and connect with potential clients. share your current projects, and receive user notes.
          </p>
        </div>
      </div>
      <div data-aos="fade-left" data-aos-duration="2000" class="box">
        <img src="/assets/imgs/work-steps-2.png" alt="" />
        <div class="text">
          <h3>If you are a simple user</h3>
          <p>
            you can register for free. If you have items to donate, you can add them to the platform. Artists on the site can select these materials to create recycled artwork. Use our filter system to search for materials based on category, location and availability.
          </p>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- End Work Steps -->

<!-- Start Pricing -->
<div class="pricing" id="pricing">
  <div class="dots dots-up"></div>
  <div class="dots dots-down"></div>
  <h2 class="main-title">Business Plan</h2>
  <div class="container" id="forfait-container">
    <div class="box" data-aos="fade-right">
      <div class="title">Basic for simple users</div>
      <img src="/assets/imgs/hosting-basic.png" alt="" />
      <div class="price">
        <span class="amount">Free</span>

      </div>
      <ul>
        <li>have your own profile</li>
        <li>post your items</li>
        <li>see the work of other artists</li>
        <li>contact the artist in private</li>
      </ul>
    </div>
    <div class="box" data-aos="fade-left">
      <div class="title">professional</div>
      <img src="/assets/imgs/hosting-professional.png" alt="" />
      <div class="price">
        <span class="amount">20 $</span>
        <span class="time">Per month / 3 weeks free trial</span>
      </div>
      <ul>
        <li>have your own profile</li>
        <li>post your art</li>
        <li>have a gallery containing all your arts</li>
        <li>select the objects you are interested in</li>
        <li>contact your customers privately</li>
      </ul>
      <a routerLink="/signupartist">Choose a package</a>
    </div>
  </div>
</div>
<!-- End Pricing -->

<!-- Start Stats -->
<div class="stats" id="stats">
  <h2>Our key figures</h2>
  <div class="container">
    <div class="box">
      <i class="far fa-user fa-2x fa-fw"></i>
      <span class="number" data-goal="150" id="clients">0</span>
      <span class="text">Clients</span>
    </div>
    <div class="box">
      <i class="far fa-user fa-2x fa-fw"></i>
      <span class="number" data-goal="150" id="artists">0</span>
      <span class="text">Artists</span>
    </div>
    <div class="box">
      <i class="fas fa-globe-asia fa-2x fa-fw"></i>
      <span class="number" data-goal="50" id="countries">1</span>
      <span class="text">Countries :</span>tunisia
    </div>
  </div>
</div>
<!-- Start Footer -->
<div class="footer">
  <div class="container">
    <div class="box">
      <h3>Upcycling Art</h3>
      <ul class="social">
        <li>
          <a href="#" class="facebook">
            <i class="fab fa-facebook-f"></i>
          </a>
        </li>
        <li>
          <a href="#" class="twitter">
            <i class="fab fa-twitter"></i>
          </a>
        </li>
        <li>
          <a href="#" class="youtube">
            <i class="fab fa-youtube"></i>
          </a>
        </li>
      </ul>
      <p class="text" style="width: 100%; margin-top: 143px">
        Terms and Conditions: By using our site, you agree to our terms and conditions.
        Privacy Policy: Our Privacy Policy describes how we collect and use your personal information.
        </p>
    </div>
    <div class="box">
      <ul class="links">
        <li><a routerLink="/apropos">About us</a></li>
        <li><a routerLink="/contact">Contact-us</a></li>
        <li><a href="#">Important Link 3</a></li>
        <li><a href="#">Important Link 4</a></li>
        <li><a href="#">Important Link 5</a></li>
      </ul>
    </div>
    <div class="box">
      <div class="line">
        <i class="fas fa-map-marker-alt fa-fw"></i>
        <div class="info">Tunis, tunis, Manzah 4</div>
      </div>
      <div class="line">
        <i class="far fa-clock fa-fw"></i>
        <div class="info">Business Hours: 24/7</div>
      </div>
      <div class="line">
        <i class="fas fa-phone-volume fa-fw"></i>
        <div class="info">
          <span><a style="color:#b9b9b9" href="tel:+20123456789">+20123456789</a></span>
          <span><a style="color:#b9b9b9" href="tel:+20198765432">+20198765432</a></span>
        </div>
      </div>
    </div>
  </div>
  <p class="copyright">In each walk with nature, we receive much more than what we seek</p>
</div>
<!-- End Footer -->

